<%# Email %>
<div class="form__group">
  <%= form.label :email, class: 'form__label' %>
  <%= form.text_field :email,
    type: 'email',
    class: 'form__input',
    autofocus: true,
    placeholder: 'joe@example.com' %>
</div>

<%# Password %>
<div class="form__group">
  <%= form.label :password, class: 'form__label' %>
  <%= form.password_field :password,
    class: 'form__input',
    placeholder: '••••••••••',
    data: {
      stimulus_action: 'input->users#onPasswordInput',
      stimulus_target: 'users.passwordField'
    } %>
</div>
