<!-- Email -->
<div class="form-group">
  <%= form.label :email, class: 'form-label' %>
  <%= form.text_field :email,
    type: 'email',
    class: 'form-input',
    autofocus: true,
    placeholder: 'joe@example.com' %>
</div>

<!-- Password -->
<div class="form-group">
  <%= form.label :password, class: 'form-label' %>
  <%= form.password_field :password,
    class: 'form-input',
    placeholder: '••••••••••',
    data: {
      action: 'input->users#onPasswordInput',
      target: 'users.passwordField'
    } %>
</div>
