/* -------------------------------------------------- *
 * Layout                                             *
 * -------------------------------------------------- */

@mixin make-grid-col($width) {
  flex-basis: auto;
  width: percentage($width / $grid-columns);
}

%base-container {
  padding: $grid-gutter;
}

%grid {
  padding: 0 $grid-gutter;

  &-cols {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$grid-gutter);
  }

  &-col {
    @extend %base-container;
    flex: 1 1 0;

    @for $i from 1 through $grid-columns {
      &--#{$i} {
        @include make-grid-col($i);
      }
    }
  }
}
