/* -------------------------------------------------- *
 * Spacing                                            *
 * -------------------------------------------------- */

$rem-base: 20px;

$baseline: .4rem;
$baseline-x2: $baseline * 2;
$baseline-x3: $baseline * 3;
$baseline-x4: $baseline * 4;
$baseline-x5: $baseline * 5;
$baseline-small: .2rem;
$baseline-small-x2: $baseline-small * 2;
$baseline-small-x3: $baseline-small * 3;
$baseline-small-x4: $baseline-small * 4;
$baseline-small-x5: $baseline-small * 5;

$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xlarge: 1200px;

$grid-columns: 12;
$grid-gutter: $baseline-x2;

/* -------------------------------------------------- *
 * Color scheme                                       *
 * -------------------------------------------------- */

$primary-color-dark: #7235a8;
$primary-color-light: #bf68dc;
$primary-color: mix($primary-color-dark, $primary-color-light);

$secondary-color-light: none;
$secondary-color-dark: none;
$secondary-color: none;

$error-color-dark: hsl(346, 60%, 49%);
$error-color-light: hsl(359, 83%, 81%);
$error-color: mix($error-color-light, $error-color-dark);

$warning-color-dark: hsl(38, 83%, 53%);
$warning-color-light: hsl(43, 86%, 69%);
$warning-color: mix($warning-color-light, $warning-color-dark);

$success-color-dark: hsl(123, 48%, 44%);
$success-color-light: hsl(135, 60%, 64%);
$success-color: mix($success-color-light, $success-color-dark);

$dark-color: #50596c;
$dark-color-2: #bcc3ce;
$light-color: #fff;
$light-color-2: #f8f9fa;

/* -------------------------------------------------- *
 * Derrived colors                                    *
 * -------------------------------------------------- */

$body-background: $light-color-2;
$body-color: $dark-color;
$border-color: darken($body-background, 15%);
$border-color-light: lighten($border-color, 10%);
$box-shadow-color: darken($body-background, 7.5%);
$button-default-background: $light-color-2;
$button-default-hover-background: darken($button-default-background, 5%);
$link-color: $dark-color;
$link-hover-color: lighten($link-color, 20%);
$tab-background-color: lighten($light-color-2, 1.5%);
$text-gray-color: lighten($body-color, 40%);
$text-gray-link-color: lighten($body-color, 30%);
$text-gray-link-hover-color: lighten($body-color, 20%);

/* -------------------------------------------------- *
 * Typography                                         *
 * -------------------------------------------------- */

$body-font-size: .8rem;
$body-line-height: 1.5;
$font-family: 'Inter UI', sans-serif;
$font-size-h1: $body-font-size * 2.5;
$font-size-h2: $body-font-size * 2.25;
$font-size-h3: $body-font-size * 2;
$font-size-h4: $body-font-size * 1.75;
$font-size-h5: $body-font-size * 1.5;
$font-size-h6: $body-font-size * 1.25;
$font-size-large: .9rem;
$font-size-small: .7rem;

/* -------------------------------------------------- *
 * Polish                                             *
 * -------------------------------------------------- */

$border-radius: .2rem;
$transition: .3s ease;
