<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<% content_for :navigation do %>
<% end %>

<% content_for :body do %>
  <p><%= t(".description") %></p>
<% end %>

<% content_for :footer do %>
  <% link_to t('.home'), home_index_path, data: { turbolinks: false } %>
<% end %>
