/* -------------------------------------------------- *
 * Forms                                              *
 * -------------------------------------------------- */

.form {
  &__group {
    margin-bottom: $baseline-small-x5;
  }

  &__label {
    @extend %text-gray;
    display: block;
    font-size: $font-size-small;
    margin: $baseline-small 0;
  }

  &__input {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    padding: $baseline-small $baseline-small-x2;
    transition: box-shadow $transition, border-color $transition;
    width: 100%;

    &:focus {
      @include control-shadow($primary-color-light);
      border-color: $primary-color;
      outline: none;
    }

    &::placeholder {
      color: $text-gray-color;
      opacity: 1;
    }

    &--error {
      &,
      &:focus {
        @include control-shadow($error-color-light);
        border-color: $error-color;
      }
    }

    &--success {
      &,
      &:focus {
        @include control-shadow($success-color-light);
        border-color: $success-color;
      }
    }
  }

  &__submit {
    margin: $baseline-small 0;
  }
}
