/* -------------------------------------------------- *
 * Notifications                                      *
 * -------------------------------------------------- */

.notification {
  border: 0;
  border-radius: $border-radius;
  color: $light-color;
  cursor: pointer;
  margin: $grid-gutter;
  margin-bottom: 0;
  padding: $baseline-small-x2 $baseline-small-x3;
  text-align: center;

  & + & {
    margin-top: $baseline;
  }

  &__wrapper {
    @include position(fixed, 0, 0, auto, auto);
    max-width: $baseline * 45;
    width: 100%;
    z-index: 1000;

    &--inline {
      @include position(unset, unset);
    }
  }

  &--success {
    @include box-shadow-bottom($success-color);
    @include background-gradient($success-color, $success-color-light, $success-color-dark);
  }

  &--error {
    @include box-shadow-bottom($error-color);
    @include background-gradient($error-color, $error-color-light, $error-color-dark);
  }

  &--notice {
    @include box-shadow-bottom($warning-color);
    @include background-gradient($warning-color, $warning-color-light, $warning-color-dark);
  }
}
