/* -------------------------------------------------- *
 * Panels                                             *
 * -------------------------------------------------- */

.panel {
  @include box-shadow-bottom;
  background-color: $light-color;
  border: 1px solid $border-color-light;
  border-radius: $border-radius;
  padding: 0;
  width: 100%;

  &__wrapper {
    @extend %base-container;
    @include navbar-padding-top($increment * 2);

    .panel {
      margin: auto;
      max-width: $baseline * 45;
    }
  }

  &__header,
  &__body,
  &__footer {
    @extend %base-container;
  }

  &__header {
    border-bottom: 1px solid $border-color-light;
    text-align: center;
  }

  &__title {
    @extend %h6;
    margin: 0;
  }

  &__footer {
    @extend %text-gray;
    border-top: 1px solid $border-color-light;
    font-size: $font-size-small;
    text-align: center;
  }

  .navbar--inline {
    background-color: $inline-navbar-background-color;
    border-bottom: 1px solid $border-color-light;

    .navbar__link {
      flex: 1 1 0;
    }
  }

  .notification__wrapper {
    @include position(unset, unset);
    margin-bottom: $baseline-x3;
    padding: 0;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    width: 100%;
  }
}

@media (max-width: $screen-small) {
  .panel__wrapper {
    @include navbar-padding-top($grid-gutter);
  }
}
