/* -------------------------------------------------- *
 * Tabs                                               *
 * -------------------------------------------------- */

.tabs {
  background-color: $tab-background-color;
  display: flex;
  margin: 0;
  padding: 0;
}

.tabs__item {
  border-bottom: 1px solid $border-color-light;
  display: flex;
  flex: 1 1 0;
  list-style-type: none;
  text-align: center;

  &.active {
    a {
      border-bottom-color: $primary-color;
    }
  }

  a {
    @extend %base-container;
    border-bottom: .15rem solid transparent;
    flex: 1 0 0;
    margin-bottom: -1px; // offset tabs border

    &:hover {
      text-decoration: none;
    }
  }
}
