// -----------------------------------------------------------------------------
// Navbar
// -----------------------------------------------------------------------------

.navbar {
  @include box-shadow-bottom;
  background-color: $bg-color-light;
  left: 0;
  padding: 0 $body-padding-x;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-3;

  .navbar-brand {
    margin-right: $unit-3;
  }

  .btn-link {
    border-bottom: $navbar-control-border solid transparent;
    border-radius: 0;
    font-size: $font-size-sm;
    height: $navbar-height;
    margin: 0 $unit-3;
    padding-bottom: ($navbar-control-padding-y - ($navbar-control-border / 2));
    padding-left: 0;
    padding-right: 0;
    padding-top: ($navbar-control-padding-y + ($navbar-control-border / 2));

    &.active {
      border-bottom-color: $primary-color;
      color: $link-color;

      &:hover {
        color: $link-color-dark;
      }
    }
  }
}
