// -----------------------------------------------------------------------------
// Panels
// -----------------------------------------------------------------------------

.panel-wrapper {
  @extend .application;
  background-color: $bg-color;
  min-height: 100%;
  padding-bottom: 5.0rem;
  padding-top: 5.0rem;
}

.panel {
  @extend .content;
  @include box-shadow-bottom($gray-color-light);
  background-color: $bg-color-light;
  max-width: $content-width-sm;
  padding: 0;

  .panel-header {
    border-bottom: 0.05rem solid $border-color;
    text-align: center;
  }

  .panel-body {
    padding: $layout-spacing-lg;

    form .submit-field {
      margin-bottom: $layout-spacing;
      margin-top: $layout-spacing-lg;

      .btn {
        width: 100%;
      }
    }
  }

  .panel-footer {
    border-top: 0.05rem solid $border-color;
    font-size: $font-size-sm;
    text-align: center;

    &, a {
      @extend .text-gray;
    }
  }
}
