// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------

.tab {
  background-color: lighten($bg-color, 1.5%);
  margin-bottom: 0;
  margin-top: 0;

  &.tab-block .tab-item a {
    margin-bottom: -0.05rem;
  }

  .tab-item a {
    @include control-transition;
    border-bottom-width: $navbar-control-border;
    color: $link-color;
    padding-bottom: ($navbar-control-padding-y - ($navbar-control-border / 2));
    padding-top: ($navbar-control-padding-y + ($navbar-control-border / 2));

    &:hover {
      color: $link-color-dark;
    }
  }

  .tab-item.active a {
    border-bottom-color: $primary-color;
    color: $link-color;

    &:hover {
      color: $link-color-dark;
    }
  }
}
