/* -------------------------------------------------- *
 * Home controller                                    *
 * -------------------------------------------------- */

.home {
  @extend %grid-cols;
  margin: auto;
  max-width: $screen-large;

  &__wrapper {
    @extend %grid;
    padding-top: $increment * 3;
  }

  &__left,
  &__right {
    @extend %grid-col;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__left {
    @include make-grid-col(7);
  }

  &__right {
    @include make-grid-col(5);
  }

  &__title {
    margin: $baseline-x3 0;

    &::after {
      animation: blink .75s linear infinite alternate;
      border-right: .15rem $primary-color solid;
      content: '';
    }
  }

  &__description {
    font-size: $font-size-large;
    margin: $baseline-x3 0;
  }

  &__footer {
    @extend %text-gray;
    font-size: $font-size-small;
    margin: ($baseline-x5 * 2) 0 $baseline-x3;
  }
}

// Media queries
@media (max-width: $screen-medium) {
  .home {
    &__left,
    &__right {
      @include make-grid-col(12);
    }
  }
}

@media (max-width: $screen-large) {
  .home {
    margin: 0 (-$grid-gutter);

    &__wrapper {
      padding-top: 0;
    }
  }
}

// Animations
@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
