/* -------------------------------------------------- *
 * Notes controller                                   *
 * -------------------------------------------------- */

.notes {
  @include position(absolute, 0);

  &__editor {
    background-color: $light-color;
    min-height: 100%;
    padding-bottom: ($increment * 2);
    padding-top: ($increment * 3);
  }
}

@media (max-width: $screen-small) {
  .notes__editor {
    padding-top: $baseline-x2;
  }
}

.note {
  margin: auto;
  max-width: $screen-medium;
  min-height: 15rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  &__shadow-form {
    display: none;
  }

  &__status-button {
    min-width: 7.5rem;
  }

  *:first-child {
    margin-top: $baseline-x3;
  }

  h1,
  h2 {
    font-weight: 500;
    margin-bottom: .5em;
  }

  h1 {
    font-size: 1.7rem;
    margin-top: 1em;

    &:first-child {
      margin-top: $baseline-small-x3;
    }
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 1em;

    &:first-child {
      margin-top: $baseline-small-x5;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: $primary-color-dark;
      text-decoration: none;
    }
  }

  p,
  ol,
  ul {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  ol,
  ul {
    list-style-position: outside;
    padding-left: 2em;

    & > ol,
    & > ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  blockquote {
    border-left: .15rem solid $primary-color;
    font-size: $font-size-large;
    margin: 1em 0;
    padding: $baseline $baseline-x3;

    &:first-child {
      margin-top: $baseline-x2;
    }
  }

  pre {
    border: 1px solid $border-color-light;
    border-radius: $border-radius;
    font-size: $font-size-small;
    margin-bottom: .5em;
    margin-top: 1em;
    padding: $baseline-small-x2 $baseline-small-x4;
    white-space: pre-wrap;

    &:first-child {
      margin-top: $baseline-x2;
    }
  }
}

/* -------------------------------------------------- *
 * Editor toolbar                                     *
 * -------------------------------------------------- */

.medium-editor-toolbar {
  // sass-lint:disable-block force-element-nesting
  @include box-shadow-bottom;

  &,
  & li button {
    background: $dark-color;
    border: 0;
  }

  & li button {
    box-shadow: none;
    color: $light-color;

    &:hover {
      background: lighten($dark-color, 10%);
      color: $light-color;
    }

    &.medium-editor-button-active {
      background: darken($dark-color, 5%);
    }

    &.medium-editor-action-pre {
      font-size: inherit;
    }
  }
}

.medium-toolbar-arrow-under {
  &::after {
    border-top-color: $dark-color;
  }
}
