// -----------------------------------------------------------------------------
// Place all the styles related to the notes controller here.
// -----------------------------------------------------------------------------

.note {
  @extend .content;
}

.note-editor {
  min-height: 15.0rem;

  &:focus {
    outline: none;
  }
}

.note-statusBtn {
  min-width: 7.5rem;
}


// -----------------------------------------------------------------------------
// MediumEditor toolbar
// -----------------------------------------------------------------------------

.medium-editor-toolbar {
  @include box-shadow-bottom();

  &, & li button {
    background: $dark-color;
    border: none;
  }

  & li button {
    box-shadow: none;
    color: $light-color;

    &:hover {
      background: lighten($dark-color, 10%);
      color: $light-color;
    }

    &.medium-editor-button-active {
      background: darken($dark-color, 5%);
    }

    &.medium-editor-action-pre {
      font-size: inherit;
    }
  }
}

.medium-toolbar-arrow-under:after {
  border-top-color: $dark-color;
}


// -----------------------------------------------------------------------------
// Editor typography styles
// -----------------------------------------------------------------------------

.note-editor {
  h1, h2 {
    font-weight: 500;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  a {
    @include control-transition();
    color: $primary-color-light;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: $unit-5;
    line-height: 1.5;
  }

  ol, ul {
    list-style-position: outside;
    padding-left: $unit-5;

    li {
      line-height: 1.5;
      margin-top: 0;
    }

    & > ol, ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  blockquote {
    font-size: $font-size-lg;
  }

  pre {
    font-size: $font-size-sm;
    white-space: pre-wrap;
  }
}
