// -----------------------------------------------------------------------------
// Place all the styles related to the home controller here.
// -----------------------------------------------------------------------------

.home-content
{
  @extend .content;
  text-align: center;
}


// -----------------------------------------------------------------------------
// Page elements
// -----------------------------------------------------------------------------

.home-title
{
  margin: 1.0rem 0;

  &:after
  {
    animation: blink 0.75s linear infinite alternate;
    border-right: 0.15rem $primary-color solid;
    content: '';
    height: 2.5rem;
    right: 0.5rem;
  }
}

.home-description
{
  margin: 1.0rem 0;
}

.home-actions
{
  margin: 2.0rem 0;

  .btn + .btn
  {
    margin-left: $unit-4;
  }
}

.home-copyright
{
  @extend .text-gray;
  font-size: $font-size-sm;
  margin-top: 4.0rem;

  a
  {
    @extend .text-gray;
    text-decoration: underline;
  }
}


// -----------------------------------------------------------------------------
// Animations
// -----------------------------------------------------------------------------

@keyframes blink
{
  0% { opacity: 0 }
  100% { opacity: 1 }
}
