// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------

@mixin box-shadow-bottom($color: $border-color, $depth-modifier: 0rem) {
  box-shadow: 0 0.2rem (0.5rem + $depth-modifier) -0.2rem $color;
}

@mixin gradient-variant($color, $color-light, $color-dark) {
  background-color: $color;
  background: linear-gradient(135deg, $color-light, $color-dark);
}

@mixin gradient-button-variant($color, $color-light, $color-dark) {
  @include box-shadow-bottom($color);
  @include gradient-variant($color, $color-light, $color-dark);

  &:hover, &:focus {
    @include box-shadow-bottom($color, 0.3rem);
    @include gradient-variant($color, $color-light, $color-dark);
  }
}
