// -----------------------------------------------------------------------------
// Place all the styles related to the notes controller here.
// -----------------------------------------------------------------------------

.note-content
{
  margin: auto;
  max-width: 30.0rem;
  padding: 4.0rem 0;
  width: 100%;
}

.note-editor
{
  min-height: 15.0rem;

  &:focus
  {
    outline: none;
  }
}
