// -----------------------------------------------------------------------------
// Place all the styles related to the notes controller here.
// -----------------------------------------------------------------------------

.note {
  @extend .content;
}

.note-editor {
  min-height: 15.0rem;

  &:focus {
    outline: none;
  }
}

.note-statusBtn {
  min-width: 7.5rem;
}
