// -----------------------------------------------------------------------------
// Shared styles
// -----------------------------------------------------------------------------

body, html {
  height: 100%;
}

body {
  padding-top: $navbar-height;
}

.turbolinks-progress-bar {
  @include gradient-variant($primary-color, $primary-color-light, $primary-color-dark);
  height: 0.15rem;
}


// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

.application {
  background-color: $bg-color-light;
  min-height: 100%;
  padding-left: $body-padding-x;
  padding-right: $body-padding-x;
  width: 100%;
}

.content {
  margin: auto;
  max-width: $content-width;
  padding: 5.0rem 0;
  width: 100%;
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: capitalize;
}

a {
  transition: color 0.2s;
}
