// -----------------------------------------------------------------------------
// Shared styles
// -----------------------------------------------------------------------------

body
{
  padding-top: $navbar-height;
}


// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

.content-wrapper
{
  padding-left: $body-padding-x;
  padding-right: $body-padding-x;
  width: 60%;
}

.overlay-wrapper
{
  background-color: $bg-color;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  z-index: $zindex-2;
}

.toast-wrapper
{
  @extend .content-wrapper;
}

.navbar
{
  left: 0;
  padding: $unit-4 $body-padding-x;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-3;

  .btn-link:hover
  {
    box-shadow: none;
  }
}


// -----------------------------------------------------------------------------
// Panels
// -----------------------------------------------------------------------------

.panel-wrapper
{
  margin: auto;
  max-width: 20.0rem;
  padding: 4.0rem 0;
  width: 100%;
}

.panel
{
  .panel-header
  {
    text-align: center;
  }

  .panel-body
  {
    padding: $layout-spacing-lg;

    .btn
    {
      margin-top: $layout-spacing-lg;
      width: 100%;
    }
  }

  .panel-footer
  {
    font-size: $font-size-sm;
    border-top: 1px solid $border-color;
    text-align: center;

    &, a
    {
      @extend .text-gray;
    }
  }
}


// -----------------------------------------------------------------------------
// Controls
// -----------------------------------------------------------------------------

.btn
{
  &:hover
  {
    @include control-shadow();
  }
}
