// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$navbar-height: ($control-size + ($unit-4 * 2) + 0.05rem); // item height + padding + border
$body-padding-x: $unit-5;
$content-width: 30.0rem;
$content-width-sm: 20.0rem;
