<%= render layout: 'layouts/master' do |f| %>
  <%= render partial: 'shared/navbar' %>
  <div class="panel__wrapper">
    <%= render layout: 'layouts/panel' do %>
      <%= yield %>
    <% end %>
  </div>
<% end %>
